
<br>
<h2>Friends</h2>
<%debugger%>

<%if @friends.present? %>
    <%= @friends.each do |f| %>
      <p><%= link_to f.name, friendship_path(f) %></p>
    <% end %>    
<% else %> 
<p>No Friends to show</p>
<% end %>






