
<% @posts.each do |p| %>
    <p><%= link_to p.name, p %>
      
      <% if user_signed_in? && current_user.id == p.user_id %>
        <%= link_to "Delete"  , post_path(p.id) , method: :delete %>
      <% end %>
  </p>
<% end %>
  <br>
  
  <%= render :partial => 'newp' %>
