
<div>
  <%= @post.name%>  
  <% @post.comments.each do |comment|%>
    <div style="border-style: solid;   border-color: blue;">
      <p> <%= comment.title %> 
        <%= link_to 'Destroy',post_comment_path(@post,comment),  method: :delete %>
         <%= link_to "Reply","#",id:"reply_button" %>
        </p>
        <div id="replyform" >
          <%= render 'comments/reply', post: @post,comment: comment %> 
        </div>
      <% comment.comments.each do |reply|%>
        <p style="border-style: solid;  border-color: green;">
          <%= reply.title %> 
            <%= link_to "Delete",post_comment_comment_path(@post, comment,reply.id),  method: :delete %>
        </p>
      <%end%>
    </div>
    <br>
  <%end%>
</div>

<%= render 'comments/form', post: @post %>



with user signed in::

<br>

<div>
    <%= @post.name%>  
    <% @post.comments.each do |comment|%>
      <div style="border-style: solid;   border-color: blue;">

        <p> <%= comment.title %> 
          <% if user_signed_in? %> 
            <%= link_to 'Destroy',post_comment_path(@post,comment),  method: :delete %>
            <%end%>  
        </p>
          
          <% comment.comments.each do |reply|%>
          <p style="border-style: solid;  border-color: green;">
            <%= reply.title %> 
            <% if user_signed_in? %> 
            <%= link_to "Delete",post_comment_comment_path(@post, comment,reply.id),  method: :delete %>
          </p>
          <%end%>
          <%end%>
          <% if user_signed_in? %> 
            <%= render 'comments/reply',commentable_id: comment.id, commentable_type: "Comment" %> 
          <%end%>
          
        </div>
        <br>
        <%end%>
      </div>
      <% if user_signed_in? %> 
        <%= render 'comments/form', post: @post %>
      <%end%>


post new coloumn user_id


...  
if params[:comment_id]
@commentable = Comment.find(params[:comment_id])
else params[:post_id]
@commentable = Post.find(params[:post_id])
end


deepak sir's'''

def create
  if params[:comment_id].present?
    @comment = @post.comments.create(comment_params)
  else
    @comment = @post.comments.create(comment_params)
  end
  redirect_to post_path(@post)
end











<br>
<% @posts.each do |p|%>
    <%= link_to p.name, p%>
    <br>
<% end %>

<br>
<%if @sent_requests.exists? %>
    <h3>Sent Friend Requests</h3>
    <% @sent_requests.each do |sent_req|%>
        <% user=User.find(sent_req.receiver_id)%>
        <%= user.name%>
        <%= sent_req.status%>
        <br>
    <% end %>
<% end %>
<br>

<%if @sent_friends.exists? %>
    <h3>Sent Friends</h3>
    <% @sent_friends.each do |sent|%>  
    <% user=User.find(sent.receiver_id)%>
        <%= user.name%>
        <br>
    <% end %>
<% end %>

<%if @received_requests.exists? %>
    <h3>Received Friend Requests</h3>
    <% @received_requests.each do |rec_req|%>
        <% user=User.find(rec_req.sender_id)%>
        <%= user.name%>
        <%= rec_req.status%>
        <br>
    <% end %>
<% end %>



<%if @received_friends.exists? %>
    <h3>Received Friends</h3>
    <% @received_friends.each do |received|%>  
    <% user=User.find(received.sender_id)%>
        <%= user.name%>
        <br>
    <% end %>
<% end %>
